<div class="span3">
  <div class="well sidebar-nav">
    <ul class="nav nav-list">
      <li class="nav-header">Category</li>
			<% @categories.each do |category| %>
      <li><%= link_to category["Name"], root_path(:bn => category["BrowseNodeId"])  %></li>
			<% end %>
    </ul>
  </div><!--/.well -->
</div><!--/span-->

<div class="span9">
	<%= render 'public/header' %>
	
	<ul class="thumbnails">
	<% @items.each do |item| %>
	<li class="span2">
		<%= link_to image_tag(item.get('MediumImage/URL'), :class => "thumbnail"), item.get("DetailPageURL"), :target => "_blank" %>
		<%= item.get("ItemAttributes/Title") %>
		<%= item.get("ItemAttributes/ListPrice")%>
	</li>	
	<% end %>
	</ul>
</div><!--/span-->